.App {
  text-align: center;
}

.back-btn {
  width: 200px;
  height: 80px;
  border-radius: 20px;
  font-size: 2rem;
}

.play-btn, .instruction-btn {
  width: 180px;
  height: 50px;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: "Press Start 2P", system-ui;
  background-color: white;
  color: black;
  margin: 5px;
}

.play-btn:hover, .instruction-btn:hover {
  background-color: #a2a8d3;
  border: 1px solid white;
}

.instruction-btn {
  font-size: 1rem;
  width: 200px;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./background/Preview\ 1.png');
  background-size: contain;
  resize: both;
}

#skill {
  width: 200px;
  height: 200px;
  margin-top: 18%;
}

#screen-one {
  display: none;
}

.screen-one-background {
  height: 100vh;
  background-image: url('./background/origbig.png');
  background-size: contain;
  resize: both;
}

.character-container {
  float: left;
  margin-top: 12%;
  margin-left: 25%;
}

@media screen and (min-height: 1080px) {
  .character-container {
    margin-top: 25%;
  }
}


.skill-one {
  width: 0;
  height: 0;
  object-fit: cover;
  animation: skill 0.5s ease-in-out 0.5s 2;
}

@keyframes skill {
  0% { content:url('./skills/skill.png') }
  8% { content:url('./skills/skill_1.png') }
  15% { content:url('./skills/skill_2.png')  }
  30% { content:url('./skills/skill_3.png')  }
  45% { content:url('./skills/skill_4.png')  }
  60% { content:url('./skills/skill_5.png')  }
  75% { content:url('./skills/skill_6.png')  }
  90% { content:url('./skills/skill_7.png')  }
  100% { content:url('./skills/skill_8.png')  }
}

.fight-stand {
  width: 200px;
  height: 200px;
  object-fit: cover;
  /* animation: fighting 0.5s ease-in-out 0.5s 2; */
  animation: fighting 0.5s ease-in-out 0.5s 2 alternate both;
}

@keyframes fighting {
  0% { content:url('./fighting/attack.png') }
  20% { content:url('./fighting/attack2.png') }
  40% { content:url('./fighting/attack3.png') }
  60% { content:url('./fighting/attack4.png') }
  80% { content:url('./fighting/attack5.png') }
  100% {content:url('./fighting/attack6.png') }
}

.idle-stand {
  width: 200px;
  height: 200px;
  object-fit: cover;
  animation: standing 0.5s ease 0.5s infinite;
}

@keyframes standing {
  0% { content:url('./idle/Idle.png'); }
  25% { content:url('./idle/Idle1.png'); }
  50% { content:url('./idle/Idle2.png'); }
  100% { content:url('./idle/Idle3.png'); }
}

#container-button {
  display: inline-block;
  width: 100px;
  height: auto;
}

.style-button {
  margin-top: 5px;
  width: 100px;
}
